.skills {
  padding: 80px 5%;
  text-align: center;
  background-color: #161c36;
  color: #e7f3fd;
  width: 100%;
  box-sizing: border-box;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: 0 auto; 
  padding: 0 5%; 
}

.skill {
  background: #70b8f5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}

.skill-icon {
  font-size: 2.5rem;
  color: #161c36;
}

.skill-name {
  display: block;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #161c36;
}

@media (max-width: 768px) {
  .skills {
    padding: 50px 5%;
  }
  
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    padding: 0 5%; 
    max-width: 100%; 
  }
}
